In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
print("Bonjour Bienvenu dans ce nouveau projet Data Scientiste")

Bonjour Bienvenu dans ce nouveau projet Data Scientiste

In [3]:
dataset=pd.read_csv("athlete_events.csv")
dataset.columns
dataset.shape

(271116, 15)

In [10]:
dataset.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

LECTURE

In [4]:
df=pd.read_csv("athlete_events.csv",index_col=[0],usecols=[i for i in range(1,15)])
df.head(4)

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Name,,,,,,,,,,,,,
A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold

In [5]:
nbre_ligne, nbre_col= df.shape
nbre_ligne,nbre_col

(271116, 13)

In [6]:
les_types=df.dtypes
les_types

Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [7]:
nom_des_variables=df.columns
nom_des_variables

Index(['Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year',
       'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [8]:
feature_num=df.columns.values[(df.dtypes == "float64").values | (df.dtypes == "int64").values]
feature_objet=df.columns.values[~((df.dtypes == "float64").values | (df.dtypes == "int64").values)]
feature_objet

array(['Sex', 'Team', 'NOC', 'Games', 'Season', 'City', 'Sport', 'Event',
       'Medal'], dtype=object)

In [9]:
nom_des_variables

Index(['Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year',
       'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

Etude  des duplications

In [13]:
df.duplicated().sum()

11256

In [35]:
table=np.array([[27,15,26,25,25,13],["Oumar","Moussa","Aida","Ousmane","Fatou","Maimouna"]])
table=table.transpose()

In [46]:
df_test=pd.DataFrame(table,columns=("Age","Nom"), index=["a1","a2","a3","a4","a5","a6"])
df_test.dtypes
df_test.col1= df_test['Age'].astype(float)
df_test.dtypes
df_test.duplicated().sum()
df_test.duplicated(subset="Age").sum()
df_test['pays']='Sénégal'
df_test.duplicated().sum()
df_test
df_test.duplicated(subset='pays').sum()




#df_test
#df_test.loc[]

C:\Users\DIONE Oumar\AppData\Local\Temp\ipykernel_20280\912182192.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_test.col1= df_test['Age'].astype(float)

5

In [47]:
nbre_de_ligne_dupliques=df.duplicated(subset=nom_des_variables).sum()
nbre_de_ligne_dupliques

11256

In [49]:
# apercç de quelques lignes dupliquées
df[df.duplicated()].head(10)

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Name,,,,,,,,,,,,,
Ibrahim Abdel Rahman,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Water Polo,Water Polo Men's Water Polo,NaN
Mohamed Abdel Sami,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Eights,NaN
Ahmed Abdo Mustafa,M,NaN,NaN,NaN,Sudan,SUD,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
Abdel Fattah Abou-Shanab,M,28.0,NaN,NaN,Egypt,EGY,1964 Summer,1964,Summer,Tokyo,Rowing,Rowing Men's Coxed Eights,NaN
Haysam Farouk Abouelw,M,21.0,NaN,NaN,Egypt,EGY,1992 Summer,1992,Summer,Barcelona,Football,Football Men's Football,NaN
Mustapha Achab,M,22.0,NaN,NaN,Morocco,MAR,1992 Summer,1992,Summer,Barcelona,Football,Football Men's Football,NaN
Dsir Antoine Acket,M,27.0,NaN,NaN,Belgium,BEL,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
Adam,M,NaN,NaN,NaN,France,FRA,1900 Summer,1900,Summer,Paris,Fencing,"Fencing Men's epee, Individual",NaN
Masood Mirza Ahmed,M,NaN,NaN,NaN,Pakistan,PAK,1948 Summer,1948,Summer,London,Hockey,Hockey Men's Hockey,NaN
"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Singles,NaN

In [52]:
# suppression des lignes dupliquées
donnees= df.drop_duplicates()
donnees.duplicated().sum()

0

ETUDE DE VALEURS MANQUANTES

In [56]:
#Pourcentage des valeurs manquantes dans chaque colonne de mon datframe de travail
donnees.isna().sum()*100/donnees.shape[0]

Sex        0.000000
Age        1.992996
Height    18.965212
Weight    20.004233
Team       0.000000
NOC        0.000000
Games      0.000000
Year       0.000000
Season     0.000000
City       0.000000
Sport      0.000000
Event      0.000000
Medal     85.253598
dtype: float64

Hors mis les colonnes Height, Weight et Medals, je vois que les autres colonnes renferment peu de valeurs manquantes et donc pour traiter les valeurs manquantes 
je procedérai comme suiit
1) pour les colonnes Weight et Height, je vais remplacer les valeurs manquantes par leurs valeurs moyenne correspondantes
2) Pour la colonne Medals je remplacerai les valeurs manquantes par une modalité que je nomme non_medal donc toute personne aynat une valeur manquante en 
Medal sera considéré comme n'anay eu aucun medal ainsi la colonne médale contient quatre modalité:
2) pour les autres colonnes je vais tous simplement supprimer les lignes contenants au moins une valeurs manquantes en ces colonnes

Traitement des valeurs manquantes sur les colonnes Weight , Height et Medal .

In [67]:
# la valeur moyenne de la variable taille
mean_value_Height=donnees['Height'].mean()
mean_value_weight=donnees['Weight'].mean()
donnees.fillna(value= {'Height':mean_value_Height,'Weight':mean_value_weight, 'Medal': 'not_medal'},inplace=True)

C:\Users\DIONE Oumar\AppData\Local\Temp\ipykernel_20280\2788095255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donnees.fillna(value= {'Height':mean_value_Height,'Weight':mean_value_weight, 'Medal': 'not_medal'},inplace=True)

In [68]:
# aperçu de mon Dataframe  transformé
donnees.head(10)

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Name,,,,,,,,,,,,,
A Dijiang,M,24.0,180.00000,80.000000,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,not_medal
A Lamusi,M,23.0,170.00000,60.000000,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,not_medal
Gunnar Nielsen Aaby,M,24.0,175.33733,70.700712,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,not_medal
Edgar Lindenau Aabye,M,34.0,175.33733,70.700712,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
Christine Jacoba Aaftink,F,21.0,185.00000,82.000000,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,not_medal
Christine Jacoba Aaftink,F,21.0,185.00000,82.000000,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",not_medal
Christine Jacoba Aaftink,F,25.0,185.00000,82.000000,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,not_medal
Christine Jacoba Aaftink,F,25.0,185.00000,82.000000,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",not_medal
Christine Jacoba Aaftink,F,27.0,185.00000,82.000000,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,not_medal
Christine Jacoba Aaftink,F,27.0,185.00000,82.000000,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",not_medal

In [69]:
#Vérification
donnees.isna().sum()*100/donnees.shape[0]

Sex       0.000000
Age       1.992996
Height    0.000000
Weight    0.000000
Team      0.000000
NOC       0.000000
Games     0.000000
Year      0.000000
Season    0.000000
City      0.000000
Sport     0.000000
Event     0.000000
Medal     0.000000
dtype: float64

Traitement des données manquantes sur les autres colonnes  (simple suppression des lignes correspondantes)

In [70]:
work_df=donnees.dropna()

In [72]:
#verifications
work_df.isna().sum()

Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

STRUCTURE de mon dataset de travail

In [75]:
n_bre_ligne=work_df.shape[0]
n_bre_col=work_df.shape[1] 
n_bre_ligne,n_bre_col

(254681, 13)

In [93]:
mes_colonnes=work_df.columns
mes_colonnes

Index(['Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year',
       'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [94]:
mes_types=work_df.dtypes
mes_types

Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [95]:
mes_colonnes_numeriques=mes_colonnes[(work_df.dtypes.values=='float64') | (work_df.dtypes.values=='int64')]
mes_colonnes_numeriques

Index(['Age', 'Height', 'Weight', 'Year'], dtype='object')

In [96]:
mes_colonnes_objet=mes_colonnes[(work_df.dtypes.values!='float64') & (work_df.dtypes.values!='int64')]
mes_colonnes_objet

Index(['Sex', 'Team', 'NOC', 'Games', 'Season', 'City', 'Sport', 'Event',
       'Medal'],
      dtype='object')

STATISTIQUE DESCRIPTIVE

In [ ]:
# COMPARASON ENTRE PAYS ? ENTRE SEXE?

In [110]:
work_df.describe(include='all')

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
count,254681,254681.000000,254681.000000,254681.000000,254681,254681,254681,254681.000000,254681,254681,254681,254681,254681
unique,2,NaN,NaN,NaN,1109,228,51,NaN,2,42,66,757,4
top,M,NaN,NaN,NaN,United States,USA,2000 Summer,NaN,Summer,London,Athletics,Football Men's Football,not_medal
freq,181311,NaN,NaN,NaN,16866,17778,13795,NaN,207122,19808,37231,4667,216741
mean,NaN,25.455935,175.347521,70.708861,NaN,NaN,NaN,1981.164390,NaN,NaN,NaN,NaN,NaN
std,NaN,6.156564,9.549937,12.948399,NaN,NaN,NaN,27.955421,NaN,NaN,NaN,NaN,NaN
min,NaN,10.000000,127.000000,25.000000,NaN,NaN,NaN,1896.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,21.000000,170.000000,63.000000,NaN,NaN,NaN,1964.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,24.000000,175.337330,70.700712,NaN,NaN,NaN,1988.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,28.000000,181.000000,76.000000,NaN,NaN,NaN,2004.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,97.000000,226.000000,214.000000,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN

AU NIVEAU DES PAYS

In [117]:
pers=[i/10 for i in range(1,11)]
pers

[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [118]:
work_df[["Team"]].describe(percentiles=pers)

                 Team
count          254681
unique           1109
top     United States
freq            16866